.pl-sidenav{
	background-color: var(--white);
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06);
	width: 250px;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 1000;
}

.pl-sidenav-head {
	background-color: var(--white);
	height: 50px;
	border-bottom: 1px solid var(--gry-10);
	position: relative;
}

.pl-sidenav-body {
	background-color: var(--white);
	padding: 7px 0px;
}

.pl-sidenav-opt {
	width: 90%;
	margin: 0px auto;
	margin-bottom: 8px;
	background-color: var(--white);
	min-height: 40px;
	padding: 5px 20px;
	padding-left: 10px;
	display: grid;
	grid-template-columns: 30px auto;
	column-gap: 8px;
	align-items: center;
	cursor: pointer;
	user-select: none;
	border-radius: 7px;
	position: relative;
}


.pl-sidenav-optico {
	width: 30px;
	height: 30px;
}
.pl-sidenav-optico path{
	fill: var(--gry-30);
}

.pl-sidenav-optlbl {
	font-size: var(--fs-14);
	color: var(--gry-30);
}

.pl-sidenav-opt:hover{
	background-color: var(--prim-10);
}

.pl-sidenav-opt:hover .pl-sidenav-optlbl{
	color: var(--prim-65);
}

.pl-sidenav-opt:hover .pl-sidenav-optico path{
	fill: var(--prim-65);
}

.pl-nav-on{
	background-color: var(--prim-5);
}

.pl-nav-on::before{
	content: "";
    display: block;
    width: 4px;
    height: 20px;
    background-color: var(--prim-65);
    position: absolute;
    left: -2px;
    top: 50%;
    border-radius: 60px;
    transform: translateY(-50%);
}

.pl-nav-on:hover{
	background-color: var(--prim-5);
}

.pl-nav-on .pl-sidenav-optico path{
	fill: var(--prim-65);
}


.pl-nav-on .pl-sidenav-optlbl{
	color: var(--prim-95);
	font-weight: 600;
}

.pl-nav-on:hover .pl-sidenav-optico path{
	fill: var(--prim-65);
}


.pl-nav-on:hover .pl-sidenav-optlbl{
	color: var(--prim-95);
}

.pl-sidenav-ico{
	background-color: var(--gry-10);
	border-radius: 4px;
	width: 25px;
	height: 25px;
	position: absolute;
	right: -10px;
	top: 10px;
	cursor: pointer;
	user-select: none;
}

.pl-burg-ico{
	position: relative;
    width: 17px;
    height: 3px;
    border-radius: 20px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--gry-30);
}

.pl-burg-ico:before{
	content: "";
    display: block;
    width: 11px;
    height: 3px;
    border-radius: 20px;
    background-color: var(--gry-30);
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
}

.pl-burg-ico::after{
	content: "";
    display: block;
    width: 17px;
    height: 3px;
    border-radius: 20px;
    background-color: var(--gry-30);
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.pl-sidenav-ico:hover{
	background-color: var(--gry-20);
}

.pl-back-ico .pl-burg-ico{
    width: 8px;
    transform: rotate(-45deg);
}

.pl-back-ico .pl-burg-ico::after{
    width: 8px;
    transform: rotate(45deg);
}

