.cl-list-cont {
	padding-top: 15px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 30px 15px;
	padding: 35px;
	overflow: auto;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
}

.cl-list-box {
	width: 320px;
	height: 180px;
	background-color: var(--white);
	border-radius: 12px;
	box-shadow: 1px 6px 14px rgb(0 0 0 / 8%);
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 1;
}

.cl-list-btxt {
	font-weight: 600;
	font-size: var(--fs-20);
	color: var(--gry-60);
	padding: 10px 5px;
	padding-bottom: 5px;
	text-align: center;
}

.cl-subsec{
	background-color: var(--gry-10);
	width: 100%;
	height: 100px;
	margin-top: 10px;
}

.cl-action-iconbox {
	width: 49%;
	height: 100px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position: relative;
	cursor: pointer;
	user-select: none;
}

.cl-action-iconbox:first-child::after {
	content: "";
	display: block;
	width: 1px;
	height: 50px;
	background-color: var(--gry-12);
	position: absolute;
	right: 0px;
	top: 15px;
}

.cl-action-icon {
	width: 50px;
	height: 50px;
	font-size: var(--fs-11);
	margin-top: 6px;
	padding: 5px;
}

.cl-action-iconbox:hover .cl-action-icon path{
	fill: var(--prim-65);
}

.cl-bl-txt {
	color: var(--prim-65);
	font-size: var(--fs-12);
	font-weight: 600;
	padding: 5px;
}

.cstar-box {
	text-align: center;
}

.cstar{
	width: 18px;
	height: 18px;
	position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 3px;
}

.cstar path{
	fill: var(--gry-20);
}
