

.pl-filter {
  background-color: var(--white);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.12);
  width: 300px;
  min-height: 50px;
}

.pl-filt-sec {
  padding: 5px 7px;
}

.pl-filt-head {
  background-color: var(--prim-10);
  border-radius: 30px;
  text-align: left;
  padding: 6px 15px;
  position: relative;
  cursor: pointer;
}

.pl-filt-head:hover {
  background-color: var(--prim-12);
}

.filt-optopen .pl-filt-subsec {
  display: inline-block !important;
}


.filt-optopen .pl-darr {
  display: none !important;
}

.filt-optopen .pl-uarr {
  display: inline-block !important;
}

.pl-filt-lbl {
  font-size: var(--fs-14);
  /*font-weight: 600;*/
  color: var(--prim);
}




.pl-filt-select {
  width: 95%;
  height: 27px;
  margin: auto;
}

.pl-range {
  width: 97%;
  height: 5px;
  margin: auto;
  background-color: var(--gry-12);
  border-radius: 30px;
  position: relative;
}

.pl-range-slider[type="range"] {
  width: 100%;
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  -webkit-appearance: none;
  pointer-events: none;
  background-color: transparent;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.pl-range-slider[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-color: transparent;
  height: 5px;
}

.pl-range-slider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--prim);
  position: relative;
  top: -3px;
  pointer-events: auto;
  cursor: pointer;
  user-select: none;
}

.pl-range-slider[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--white);
  box-shadow: 0px 0px 0px 2px var(--prim-65);
  transform: scale(1.1);
}

.pl-range-slider[type="range"]::-webkit-slider-thumb:active {
  background-color: var(--prim-12);
  box-shadow: 0px 0px 0px 2px var(--prim-65);
}

.range-info{
  background-color: var(--prim-65);
  border-radius: 40px;
  display: inline-block;
  min-width: 30px;
  padding: 1px 10px;
  font-size: var(--fs-13);
  color: var(--white);
  margin-bottom: 10px;
  position: relative;
  user-select: none;
}

.range-info::after {
      content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 0px;
    background-color: var(--prim-65);
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    border-bottom-right-radius: 5px;
}

.pl-filt-subtxt{
  font-size: var(--fs-13);
  color: var(--gry-50);
  padding: 3px 0px;
  text-align: left;
  padding-bottom: 0px;
}

/*filterbox header */
.pl-filter-head {
     width: 97%;
    height: var(--filter-height);
    margin: auto;
    margin-top: 45px;
    background-color: var(--white);
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.08);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    visibility: hidden;
    position: relative;
    margin-top: 15px;
    transition: margin-top 0.08s ease-in-out;
    z-index: -1;
}

.pl-filt-headsec {
  width: auto;
  min-width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  position: relative;

}

.pl-filt-headsec::after {
  content: "";
  display: block;
  width: 1px;
  height: 50px;
  background-color: var(--gry-10);
  position: absolute;
  right: -7px;
  top: 5px;
}

.pl-filt-header {
  background-color: var(--white);
}

.pl-filt-subsec {
  background-color: var(--white);
  border-radius: 8px;
  padding: 6px 5px;
  padding-top: 0px;
  margin: 5px 0px;
  margin-top: 0px;
  text-align: center;
  display: inline-block;
  width: 210px;
  max-width: 210px;
}




.filter-expmin{
  height: auto;
  z-index: 1;
  visibility: visible;
  margin-top: 35px;
    transition: margin-top 0.08s ease-in-out;

}

.filter-expmin .pl-parent-sec{
  opacity: 1;
}

.pl-sm-sel{
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
  margin-left: 0px;
}

.pl-mid-sel{
  width: 70px;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
  margin-left: 0px;
}

.pl-filt-embox{
   width: 20px;
    height: 20px;
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pl-filt-expmin{
    height: 20px;
    background-color: var(--white);
    position: relative;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transform: rotate(180deg);
}

.pl-filt-expmin::after{
        content: "";
    display: block;
    width: 2px;
    height: 6px;
    position: absolute;
    top: 11px;
    left: 8px;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: var(--gry-20);
    border-radius: 20px;
}

.pl-filt-expmin::before{
       content: "";
    display: block;
    width: 2px;
    height: 6px;
    position: absolute;
    top: 8px;
    left: 11px;
    transform: translate(-50%, -50%);
    background-color: var(--gry-20);
    border-radius: 20px;
    transform: rotate(45deg);
}

.pl-filt-expminup .pl-filt-expmin{
  transform: rotate(0deg);
}

.pl-filt-expmin:hover {
    background-color: var(--gry-10);
}

.pl-filt-expmin:hover::before {
    background-color: var(--gry-50);
}

.pl-filt-expmin:hover::after {
    background-color: var(--gry-50);
}

.pl-filter-info{
  display: inline-block;
  min-width: 40px;
  background-color: var(--gry-10);
  border: 1px solid var(--gry-10);
  border-radius: 30px;
  text-align: left;
  font-size: var(--fs-12);
  padding: 4px 7px;
  padding-right: 10px;
  margin-right: 7px;
  position: relative;
}

.pl-filter-info:hover {
  background-color: var(--gry-12);
  border: 1px solid var(--gry-12);
}

.pl-filt-res::before{
  content: "";
  display: block;
  width: 98%;
  height: 1px;
  background-color: var(--gry-10);
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pl-info-lbl{
  display: inline-block;
  vertical-align: middle;
  padding-right: 4px;
  font-weight: 600;
}

.pl-info-val {
  display: inline-block;
  vertical-align: middle; 
  color: var(--gry-50);
  margin-right: 15px;
}

.pl-filt-res{
  padding: 4px 15px;
  position: relative;
}

.pl-filt-close {
  width: 16px;
  height: 16px;
  background-color: var(--gry-10);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 6px;
  right: 3px;
}
.pl-filt-close::before{
     content: "";
    display: block;
    width: 10px;
    height: 2px;
    background-color: var(--gry-30);
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
}
.pl-filt-close::after{
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background-color: var(--gry-30);
    transform: translate(-50%, -50%) rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;

}

.pl-filt-close:hover {
  background-color: var(--gry-12);
}

.pl-filt-close:hover::before {
  background-color: var(--gry-50);
}

.pl-filt-close:hover::after {
  background-color: var(--gry-50);
}

.pl-parent-sec {
  display: grid;
  grid-template-columns: 220px auto;
  height: auto;
  opacity: 0;
  transition: all 0.1s ease-in-out;

}


.filter-res-expmin .pl-parent-sec{
  opacity: 0;
  transition: all 0.1s ease-in-out;
  height: 0px;
  visibility: hidden;

}

.filter-res-expmin .pl-filt-res::before {
  display: none;
}

.pl-filter-close{
  position: absolute;
  right: -7px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;

}

.pl-filter-close  .pl-filt-close{
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
}

.pl-filter-close  .pl-filt-close::before{
  width: 13px;
  height: 3px;

}

.pl-filter-close  .pl-filt-close::after{
  width: 13px;
  height: 3px;

}

.pl-filt-ssparent{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-top: 7px;
}

.pl-filt-hfilter{
  display: grid;
  grid-template-columns: auto;
}

/*slider*/

[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 45px 0 10px 0;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 14px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 14px;
  background-color: #1ABC9C;
}

[slider] > div > [thumb] {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 28px;
  width: 28px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
}

[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index:3;
  background-color: #1ABC9C;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

[slider] > div > [sign]:after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #1ABC9C;
}

[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

[slider]:hover > div > [sign] {
  opacity: 1;
}

/*custom slider*/

