<!-- <div class="pl-selbox" 
[class.plsel-open]="selopenb" (click)="selopen();"
([ngModel])="salselected"
>

  <div class="pl-selhead">
    <div class="pl-seltxt">
      {{ salselected }}
    </div>
    <div class="pl-sel-arr">
      <div class="plsel-uarr dn">
      </div>
      <div class="plsel-darr">
      </div>
    </div>
  </div>

  <div class="pl-sel-wrapper dn">


    <div class="pl-sel-option"
     *ngFor="let salval of salary" 
     (click)="selectedOption($event);"
    >
      <div class="pl-seltxt">
        {{ salval.salmoney }}
      </div>
    </div>

    
  </div>

</div>
 -->